https://github.com/joshskidmore/zsh-fzf-history-search
https://github.com/Aloxaf/fzf-tab
marlonrichert/zsh-autocomplete
zsh-users/zsh-completions
zsh-users/zsh-syntax-highlighting
https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv
jreese/zsh-titles
{{ if eq .chezmoi.os "darwin" -}}
scriptingosx/mac-zsh-completions
{{ end -}}