#setup history
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000

#add local bin to path
export PATH="${ZDOTDIR:-$HOME}/bin:$PATH"
export PATH="${ZDOTDIR:-$HOME}/.local/bin:$PATH"

{{ if eq .chezmoi.os "darwin" -}}
fpath=(/opt/homebrew/share/zsh/site-functions $fpath)
export PATH="/opt/homebrew/opt/python@3.13/libexec/bin:$PATH"
export PATH="/opt/homebrew/opt/ruby@3.2/bin:$PATH"
export PATH="/opt/homebrew/opt/node@20/bin:$PATH"
export PATH="/opt/homebrew/opt/imagemagick@7/bin:$PATH"
export PATH="/opt/homebrew/lib/ruby/gems/3.2.0/bin:$PATH"
export PATH="/Users/jheidecker/.cargo/bin:$PATH"
{{- end -}}

#load and configure antidote
source ~/.antidote/antidote.zsh
antidote load ${ZDOTDIR:-$HOME}/.zsh_plugins.txt

#aliases
alias ls='eza --icons -hBba'
alias vi='nvim'
alias vim='nvim'
alias docker='podman'

#queue starship!
eval "$(starship init zsh)"

export KUBE_EDITOR="vim"

#macOS
bindkey '^[[A' fzf_history_search
#linux
bindkey "${key[Up]}" fzf_history_search

#zstylez
# disable sort when completing `git checkout`
zstyle ':completion:*:git-checkout:*' sort false
# set descriptions format to enable group support
zstyle ':completion:*:descriptions' format '[%d]'
# set list-colors to enable filename colorizing
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
# preview directory's content with exa when completing cd
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'eza -1 --color=always $realpath'
# switch group using `,` and `.`
zstyle ':fzf-tab:*' switch-group ',' '.'

#portable completions
fpath=($HOME/.zshfn $fpath)

#update nvim-lazy plugins (slow)
#nvim --headless '+Lazy! sync' +qa

{{ if eq .chezmoi.os "linux" -}}
fpath=(/usr/share/zsh/site-functions $fpath)

{{ if eq .chezmoi.osRelease.id "debian" -}}
#wezterm fix for debian12
export XCURSOR_THEME=Adwaita
{{- end -}}

{{- end -}}

export ZSH_FZF_HISTORY_SEARCH_END_OF_LINE=1
