{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

bw login jay.heidecker@gmail.com
if [ $? -ne 0 ]; then
  export BW_SESSION=$(bw unlock --raw)
  exit 0
else
  export BW_SESSION=$(bw unlock --raw)
fi

{{ end -}}
