{{ if eq .chezmoi.os "darwin" }}

#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "git"
cask "wezterm"
tap "homebrew/cask-fonts"
cask "font-fira-code-nerd-font"
brew "zsh"
brew "antidote"
brew "bitwarden-cli"
brew "starship"
brew "lua"
brew "nvim"
brew "zoxide"
brew "fzf"
brew "exa"
EOF

{{ else if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "ubuntu" }}

#!/bin/bash

sudo apt update
sudo apt install nodejs npm
npm install -g @bitwarden/cli

{{   else if eq .chezmoi.osRelease.id "fedora" }}
# Fedora-specific code
{{   end }}
{{ end }}