{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu")) -}}
#!/bin/bash

nix-env -i wezterm
nix-env -i zsh
nix-env -i starship

curl -o FiraCode.zip "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.0.2/FiraCode.zip"
mkdir ~\.fonts
unzip FiraCode.zip -d "~\.fonts"
rm -f FiraCode.zip
fc-cache -fv

nix-env -i antidote
nix-env -i lua
nix-env -i neovim
nix-env -i zoxide
nix-env -i fzf
nix-env -iA nixpkgs.exa

{{ end -}}