{{ bitwardenAttachment "lemmy.management" "7eec5a1f-720c-4c6f-9c23-b03f001b3957" }}
{{ if env "BW_SESSION" }}
{{ bitwardenAttachment "lemmy.management" "7eec5a1f-720c-4c6f-9c23-b03f001b3957" }}
{{ end }}